.App {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  font-family: sans-serif;
}

.App2 {
  display: flex;

  font-family: sans-serif;
}

.HrStyle {
  height: 25px;
  width: 2px;
  color: rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
  margin-left: 10px;
  margin-right: 10px;
}

.HrStyle2 {
  height: 2px;
  width: 100%;
  color: rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
}

.HrStyle3 {
  height: 175px;
  width: 2px;
  color: rgb(110, 110, 110);
  background-color: rgb(110, 110, 110);
  margin-left: 10px;
  margin-right: 10px;
}

.H2 {
  margin: 5px;
}

.SPAN {
  color: red;
}
